@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /*Neutral color */
    --black: #000000;
    --grey: #D0C9D6;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--white);
    color: var(--black);
    width: 100vw;
    height: 100dvh;
}

.d-flex {
    display: flex;
    align-items: center;
}
.space {
    display: grid;
    grid-template-columns: 10% 70% 15% 5%;
}

/** dashboard **/
.dashboard {
    display: flex;
    gap: 20px;
    padding: 20px 50px;
}

.route_list {
    width: 100%;
}
.route_details {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
